@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --black:hsl(0, 0%, 2%);
    --white:hsl(0, 0%, 100%);
    --gray:hsl(0, 0%, 7%);
    --lg-gray:hsl(0, 4%, 75%);
    --dk-gray:hsl(0, 0%, 8%);
    --orange:hsl(29, 100%, 62%);

    --montserrat:'Montserrat', sans-serif;
    --poppins:'Poppins', sans-serif;
}
@font-face {
    font-family: "Avenue";
    src: url("/madeavenue-regular.woff2") format("woff2"), url("/madeavenue-regular.woff")
        format("woff");
  }


body{
    background-color: var(--black);
}

nav{
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.logo{
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
   
    
    
}
.logo h2{
    font-family: "Avenue";
    font-weight: 100;
    font-size: 1.2rem;
}
.logo i{
    font-size: 1.4rem;
}

h1,h2{
    font-size: 2.5rem;
    font-family: var(--montserrat);
    color: white;
    line-height: 50px;
}

p{
    font-size: 1rem;
    font-family: var(--montserrat);
    color: white; 
    line-height: 22px;
}

.mainBtn{
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 10px 0px;
    color: var(--white);
    font-family: var(--poppins);
    padding: 5px 10px;
    width: fit-content;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}
.mainBtn:hover{
    background-color: var(--white);
    
    color: var(--black);
    
}

nav ul{
    display: flex;
    gap: 1.5rem;
}

nav ul li a{
    text-decoration: none;
    user-select: none;
    color: var(--white);
    font-family: var(--poppins);
    font-weight: 300;
    font-size: .9rem;
    background-color: transparent;
    padding: .5rem 1.5rem;
    border-radius: 50px;
}

nav ul li a:hover{
   background-color: hsla(0, 0%, 50%, 0.103);
  
}

.sizeLimit{
    flex: 1;
    display: flex;
    flex-direction: row;
    
    height: 4rem;
    width: 1120px;
    max-width: 1120px;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem;
}

.sectionContainer{
    display: flex;
    justify-content: center;
}

.sectionContainer > div:nth-child(1){
    width: 1120px;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
}

// 1 column
#landing > div:nth-child(1) > div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20%;
}


//2 column img
#landing > div:nth-child(1) > div:nth-child(2) img{
    width: 700px;
}


#schedule{
    margin-top: 20rem;
}
#schedule > div:nth-child(1) > div:nth-child(1) img{
    width: 700px;
}

#schedule > div:nth-child(1) > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.line{
    height: 10px;
    width: 80%;
    border-top: 2px solid white;
}
.workingHours{
    line-height: 30px;
}

#menu > div {
   display: flex;
   flex-direction: column;
   
}

#menu > div > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10rem;
    align-items: flex-start;
}
.dashedLine{
    width: 100%;
    height: 2px;

    border: 0px;
    border-bottom: solid var(--lg-gray) 2px;
    border-style: dashed;
    margin: 4rem 0rem;
}
.category{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex: 1;
    
}

.categoryTitle{
    color: var(--white);
    font-family: Avenue;
    font-size: 22px;
    font-weight: 300;
}
.menuItem > div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 60%;
}

.menuItem{
    display: flex;
    gap: 15px;
    padding: 15px;
    border-radius: 5px;
    justify-content: space-between;
    width: 100%;
    
   
    
}

.menuItem:hover{
    display: flex;

    background-color: var(--dk-gray);
    cursor: pointer;
}

.itemName{
    color: white;
    text-transform: uppercase;
    font-family: var(--montserrat);
    font-size: 1rem;
}

.itemDescription{
    color: white;
    font-weight: 400;
    font-size: .9rem;
    text-transform: lowercase;
}

.itemPrice{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--montserrat);
}

.itemImg{
    width: 6rem;
    height: 6rem;
    border-radius: 50px;
    overflow: hidden;
}

.itemImg img{
    width: 100%;
    height: 100%;
}

#contact > div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#contact > div > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 40%;
    
    
}

#contact h3{
    color: var(--orange);
    font-family: var(--montserrat);
}

#contact h2{
    margin-bottom: 2rem;
}

#contact p{
    margin-bottom: .5rem;
}


.contactImg img{
    width: 400px;
    height: 600px;
}

footer{
    margin-top: 20rem;
    display: flex;
    justify-content: center;
   
}

footer > div:nth-child(1){
    background-color: var(--gray);
    width: 96vw;
    height: 20rem;  
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    max-width: 1120px;
    flex: 1;
    height: 100%;
    gap: 10px;
    max-width: 1120px;
    padding: 0em 3rem 3rem 3rem;
    
    font-family: var(--montserrat);
}

// <!-- first row -->
.footerContainer > div:nth-child(1){
    display: flex;
    justify-content: space-between;

}

.footerLogo{
    font-size: 1rem;
    display: flex;
    align-items: flex-end;
   
    gap: 5px;
    color: var(--white);
    
}
.footerLogo h2{
    font-size: 1rem;
    line-height: normal;
    
}
.footerContainer > div:nth-child(1) > div:nth-child(1) {
    display: flex;
    flex-direction: column;

    gap: 10px;
    
}
.footerContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) i {
    font-size: 3em;
    color: var(--white);
    
}
.footerContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    color: var(--white);
    gap: 8px;
    
}

.footerContainer > div:nth-child(1) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}
.footerContainer > div:nth-child(1) > div:nth-child(2) h3 a{ 
    color: var(--lg-gray);
    font-weight: 600;
    text-decoration: none;  
}

.footerContainer > div:nth-child(1) > div:nth-child(2) h3 a:hover{ 
    text-decoration: underline 3px; 
}

// <!-- second row -->
.footerContainer > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footerContainer > div:nth-child(2) p{
    color: var(--lg-gray);
}

.socialMedia{
    cursor: pointer;
}

